<div>Hola Mundo</div>

<div>
  <h2>Nombre proyecto:{{title}}</h2>
</div>
<div>
  <br>
  
  <h3>La suma de 2+2 es {{2+2}}</h3>

  <br>
  <h3>El doble ded numero 3 es : {{duplicaNumero(3)}}</h3>
</div>
<div>
  <h2>Datos del alumno</h2>
  Nombre:{{alumno.nombre|uppercase}}<br>
  Edad:{{alumno.edad}} <br>
  Curso:{{alumno.curso}}<br>
  Fech:{{alumno.fechaInscrito | date}}<br>
  Pago:{{alumno.PagoInscripcion | currency}}<br>
</div>
<hr>
<div class="container">
  <div class="row">
<app-product-list></app-product-list>
  </div>
</div>


